* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width: 100%;/*este y el que sigue es para que la página se achique o agrande segun se modifique*/
  height: auto;
}

body {
  background-color: #fff;
  font-family: "Century Gothic";
  font-size: 15px;
}

section { /* CAJA DE SECCION*/
  width: 100%;
  max-width: 600px; 
  margin: 0px auto;
  display: table;
  position: relative;
}

.botondevolver{
  background-color: white;
  border: 1px solid green;
  color: green;


}

.content p { /*parrafo de sections*/
  font-size: 15px;
  color: #000;
  top: 50%;
  left: 50%;
}

/*menu*/
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  text-align: center;

}


.container {
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: #000; /*color datos contacto*/

}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px; /*tamaño menu*/
  list-style: none;
  background-color: #1f1f1f;
  font-family: "Century Gothic";

}

.menu li { /*opción del menú*/
  width: 300px; /*distancia entre inicio y contacto*/
  height: 30px;
  transition: background-position-x 0.9s linear;
  text-align: center;

}
.menu li a { /*contenido del menú*/
  font-size: 20px;
  color: #fff; /*color menú*/
  text-decoration: none;
}



/*imágen principal*/
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 100%;

}

.centrado{ /*texto de imágen principal*/
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    font-family: "Courier New";
}


.frontend{
  width: 500%; /*para que quede centrado*/
  text-align: center;
  font-size: 12px;
  font-family: "Century Gothic";
}



footer{ 
    background: #1f1f1f;
    padding: 10px;
    text-align: center;

}

.contenedor-footer-content{ /*contenedor footer*/
    justify-content: center;
    align-items:center;
 
}

.contact-us{ /* copyright */
    /*font-size: 13px;*/
    width: 100%;
    color: #fff;
    text-align: center; 
     /*tamaño el footer*/ 
    padding-top:3px;
    padding-bottom:3px; 
}

/*portfolios*/
.portfolio{
    position: relative;
    display: inline-block;
    text-align: center;
}

 

.centro{
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
